/* Primary text color #000000 */
/* Secondary text color #FFFFFF */
/* Primary bg color #FAE100 */
/* Secondary bg color #68F876 */
/* Third bg color #5BE8F4 */
/* Primary btn color #F00565 */
/* Secondary btn color #D104E3 */

/** COMMON STYLES **/

:root {
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --primary-bg-color: #fae100;
  --secondary-bg-color: #68f876;
  --third-bg-color: #5be8f4;
  --primary-btn-color: #f00565;
  --secondary-btn-color: #d104e3;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  font-size: 20px;
  line-height: 1.2;
  /* letter-spacing: 0.03em; */
  margin-left: auto;
  margin-right: auto;
  /* padding-top: 80px; */
}

.visually-hidden {
  position: absolute !important;
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  display: block;
  color: var(--primary-text-color);
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style: disc;
}

img {
  display: block;
}

.btn {
  font-family: 'RoadkillAlternates';
  font-weight: 400;
  font-size: 40px;
  color: var(--secondary-text-color);
  text-align: center;
  line-height: 1;
  display: inline-block;
  height: 56px;
  margin: 0 auto;
  padding: 8px 32px 8px 32px;
  border: none;
  border-radius: 4px;
}

.donate-button {
  background-color: var(--primary-btn-color);
}

/** HEADER SECTION **/

.header {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.about__heading {
  font-family: 'Raleway', 'Segoe UI', sans-serif;
  font-size: 42px;
  font-weight: 900;
  line-height: 1.14;
  color: var(--primary-text-color);
  text-transform: uppercase;
}

.header .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  z-index: 1;
}

.header__logo {
  margin: 0 18px;
}

.navigation-left__list {
  display: flex;
  justify-content: end;
}

.navigation-left__list .navigation__list-item {
  margin-right: 32px;
}

.navigation-right__list {
  display: flex;
  justify-content: start;
}

.navigation-right__list .navigation__list-item {
  margin-left: 32px;
}

.navigation__list-item {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 600;
}

/** HERO SECTION **/

.hero {
  background-image: url('../images/slide-1.jpg');
  background-position: top;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  height: 700px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.hero__content {
  position: relative;
  padding-top: 152px;
}

.hero__subheading {
  position: absolute;
  top: 60%;
}

.hero .donate-button {
  margin-top: 163px;
}

.slider__dots.list {
  font-size: 0;
  display: flex;
  justify-content: flex-end;
  margin-top: 55px;
}

.slider__dots-item {
  border: 2px solid #000000;
  border-radius: 4px;
  background-color: var(--primary-btn-color);
  width: 24px;
  height: 24px;
  margin: 0 4px;
  cursor: pointer;
}

.slider__dots-item.active {
  border: 6px solid #000000;
}

/** ABOUT SECTION **/

.content-box.list {
  display: flex;
  padding-top: 120px;
}

.content-box__list-item:nth-child(1) {
  margin-left: 61px;
  margin-right: 94px;
}

.content-box__list-item {
  line-height: 1.6;
}

.content-box__list-item img {
  padding-top: 31.5px;
}

.content-box__list-item > p,
.content-box__list-item > ul {
  font-weight: 300;
  /* padding-right: 30px; */
}

.content-box__list-item > p {
  margin-top: 16px;
  margin-bottom: 30px;
}

.content-box__list-item b {
  font-weight: 700;
}

.about__stats {
  text-align: center;
  margin-top: 40px;
}

.about__stats p {
  font-family: 'Raleway', 'Segoe UI', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.09;
}

.about__stats span {
  font-family: 'Raleway', 'Segoe UI', sans-serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 1;
}

/** ABOUT :: STEPPER **/

.stepper {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.stepper__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.stepper__item.last::after {
  position: absolute;
  content: '';
  border-bottom: 4px solid #000000;
  border-radius: 100px;
  width: 220%;

  top: 15px;
  left: 50%;
  z-index: 2;
}

.stepper__item.completed:not(:first-child) {
  margin-left: 20px;
}

.stepper__item .step-icon {
  color: var(--secondary-text-color);
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: var(--primary-text-color);
  margin-bottom: 6px;
}

.stepper__item.canceled {
  margin-right: 35px;
  align-items: center;
}

.stepper__item.completed .step-icon,
.stepper__item.last .step-icon {
  background-color: #f00565;
  margin-left: 4px;
}

.stepper__item.last {
  margin-right: 165px;
}

.stepper__item.last .step-icon {
  position: relative;
  width: 64px;
  height: 64px;
  bottom: 15px;
  margin-left: 15px;
}

.step-icon svg {
  fill: #ffffff;
  width: 18px;
  height: 13.4px;
}

.stepper__item.last svg {
  width: 32px;
  height: 36px;
}

.stepper__item.last .step-name {
  font-family: 'Raleway', 'Segoe UI', sans-serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 0.4;
  color: var(--primary-btn-color);
}

.stepper__item.completed .step-name,
.stepper__item.canceled .step-name {
  font-family: 'Raleway', 'Segoe UI', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--primary-text-color);
  opacity: 0.5;
}

.stepper__item.canceled .step-name {
  width: 105px;
}

.stepper__item.completed::after,
.stepper__item.canceled::after {
  position: absolute;
  content: '';
  border-bottom: 4px solid #f00565;
  width: 145%;
  top: 15px;
  left: 31%;
  z-index: 3;
}

.stepper__item:first-child::before {
  content: none;
}
.stepper__item:last-child::after {
  content: '';
}

/** END STEPPER **/

.about__text-amount {
  font-family: 'Raleway', 'Segoe UI', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 16px;
  margin-bottom: 40px;
}

.about__text-amount span {
  font-family: 'Raleway', 'Segoe UI', sans-serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 1;
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
  .hero .container {
    max-width: 1342px;
    height: 700px;
  }

  .about .container {
    max-width: 1117px;
  }
}

@font-face {
  font-family: 'RoadkillAlternates';
  src: url('../fonts/RoadkillAlternates.eot');
  src: url('../fonts/RoadkillAlternates.eot') format('embedded-opentype'),
    url('../fonts/RoadkillAlternates.woff2') format('woff2'),
    url('../fonts/RoadkillAlternates.woff') format('woff'),
    url('../fonts/RoadkillAlternates.ttf') format('truetype'),
    url('../fonts/RoadkillAlternates.svg#RoadkillAlternates') format('svg');
}
