/* Primary text color #000000 */
/* Secondary text color #FFFFFF */
/* Primary bg color #FAE100 */
/* Secondary bg color #68F876 */
/* Third bg color #5BE8F4 */
/* Primary btn color #F00565 */
/* Secondary btn color #D104E3 */

/** COMMON STYLES **/

:root {
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --primary-bg-color: #fae100;
  --secondary-bg-color: #68f876;
  --third-bg-color: #5be8f4;
  --primary-btn-color: #f00565;
  --secondary-btn-color: #d104e3;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute !important;
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  display: block;
  color: var(--primary-text-color);
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style: disc;
}

img {
  display: block;
}

.btn {
  font-family: 'RoadkillAlternates';
  font-weight: 400;
  font-size: 40px;
  color: var(--secondary-text-color);
  text-align: center;
  line-height: 1;
  display: inline-block;
  height: 56px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
}

.donate-button {
  background-color: var(--primary-btn-color);
  padding: 8px 32px 8px 32px;
}

.bring-button {
  background-color: var(--secondary-btn-color);
  padding: 8px 24px 8px 24px;
}

/** HEADER SECTION **/

.header {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header .container {
  position: relative;
  display: flex;
  z-index: 1;
}

/** HERO SECTION **/

.hero {
  background-image: url('../images/slide-1.jpg');
  background-position: top;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.hero__content {
  position: relative;
  padding-top: 152px;
}

.hero__subheading {
  position: absolute;
  top: 60%;
}

.hero .donate-button {
  margin-top: 163px;
}

.slider__dots.list {
  font-size: 0;
  display: flex;
  justify-content: flex-end;
  margin-top: 55px;
}

.slider__dots-item {
  border: 2px solid #000000;
  border-radius: 4px;
  background-color: var(--primary-btn-color);
  width: 24px;
  height: 24px;
  margin: 0 4px;
  cursor: pointer;
}

.slider__dots-item.active {
  border: 6px solid #000000;
}

/** ABOUT SECTION **/

.about__content-wrapper.list {
  display: flex;
  padding-top: 120px;
}

.about__heading {
  font-family: 'Raleway', 'Segoe UI', sans-serif;
  font-size: 42px;
  font-weight: 900;
  line-height: 1.14;
  color: var(--primary-text-color);
  text-transform: uppercase;
}

.custom-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.custom-list li {
  margin-left: 5px;
  margin-bottom: 8px;
}

.custom-list li::before {
  content: '';
  display: inline-block;
  height: 4px;
  width: 4px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #000;
  margin-right: 13px;
}

.about__content-item:nth-child(1) {
  margin-left: 61px;
  margin-right: 94px;
}

.about__content-item {
  line-height: 1.6;
}

.about__content-item img {
  padding-top: 31.5px;
}

.about__content-item > p,
.about__content-item > ul {
  font-weight: 300;
  max-width: 625px;
}

.about__content-item > p {
  margin-top: 16px;
  margin-bottom: 30px;
}

.about__content-item > ul {
  margin-left: 10px;
}

.about__content-item b {
  font-weight: 700;
}

.about__stats {
  text-align: center;
  margin-top: 45px;
}

.about__stats p {
  font-family: 'Raleway', 'Segoe UI', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.09;
}

.about__stats span {
  font-family: 'Raleway', 'Segoe UI', sans-serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 1;
}

/** ABOUT :: STEPPER **/

.about__stats .stepper {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.stepper__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.stepper__item.last::after {
  position: absolute;
  content: '';
  border-bottom: 4px solid #000000;
  border-radius: 100px;
  width: 220%;

  top: 15px;
  left: 50%;
  z-index: 2;
}

.stepper__item.completed:not(:first-child) {
  margin-left: 20px;
}

.stepper__item .stepper__icon {
  color: var(--secondary-text-color);
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: var(--primary-text-color);
  margin-bottom: 6px;
}

.stepper__item.canceled {
  margin-right: 35px;
  align-items: center;
}

.stepper__item.completed .stepper__icon,
.stepper__item.last .stepper__icon {
  background-color: #f00565;
  margin-left: 4px;
}

.stepper__item.last {
  margin-right: 165px;
}

.stepper__item.last .stepper__icon {
  position: relative;
  width: 64px;
  height: 64px;
  bottom: 15px;
  margin-left: 15px;
}

.stepper__icon svg {
  fill: #ffffff;
  width: 18px;
  height: 13.4px;
}

.stepper__item.last svg,
.stepper__item.current svg {
  width: 32px;
  height: 36px;
}

.stepper__item.last .stepper__number,
.stepper__item.current .stepper__number {
  font-family: 'Raleway', 'Segoe UI', sans-serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 0.1;
  color: var(--primary-btn-color);
}

.stepper__item.last .stepper__number {
  line-height: 0.4;
}

.stepper__item.completed .stepper__number,
.stepper__item.canceled .stepper__number {
  font-family: 'Raleway', 'Segoe UI', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--primary-text-color);
  opacity: 0.5;
}

.stepper__item.canceled .stepper__number {
  width: 105px;
}

.stepper__item.completed::after,
.stepper__item.canceled::after {
  position: absolute;
  content: '';
  border-bottom: 4px solid #f00565;
  width: 145%;
  top: 15px;
  left: 31%;
  z-index: 3;
}

.stepper__item:first-child::before {
  content: none;
}

.stepper__item:last-child::after {
  content: '';
}

/** END STEPPER **/

p.about__text-amount {
  font-family: 'Raleway', 'Segoe UI', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 25px;
  margin-bottom: 40px;
}

.about__text-amount span {
  font-family: 'Raleway', 'Segoe UI', sans-serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 1;
}

/** SCHOOL-SETS SECTION 1 **/

.school-sets__first-wrapper {
  background-color: var(--secondary-bg-color);
}

.school-sets__first-wrapper .school-sets__content-box {
  padding-bottom: 48px;
}

.school-sets__heading--hide {
  display: none;
}

.school-sets__quote {
  max-width: 100%;
  height: auto;
  margin: 0 auto 32px;
  padding-top: 48px;
}

.school-sets__heading {
  font-family: 'Raleway', 'Segoe UI', sans-serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 1.25;
  margin-bottom: 28px;
}

.school-sets__content-box {
  display: flex;
  justify-content: flex-start;
}

.school-sets__description {
  margin-bottom: 12px;
  flex-grow: 1;
}

.school-sets__text {
  font-family: 'Raleway', 'Segoe UI', sans-serif;
  line-height: 1.2;
  display: flex;
  margin-bottom: 24px;
}

.school-sets__text--left {
  margin-right: 59px;
}

/** SCHOOL-SETS :: STEPPERS */

.school-sets__description .stepper {
  display: flex;
  justify-content: space-between;
}

.stepper__item.initial .stepper__number,
.stepper__item.target .stepper__number {
  font-family: 'Raleway', 'Segoe UI', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 0.6;
  color: var(--primary-text-color);
  opacity: 0.5;
}

.stepper__item.initial .stepper__number {
  margin-left: 10px;
}

.stepper__item.target .stepper__number {
  margin-right: 4px;
}

.stepper__item.initial .stepper__icon {
  background-color: var(--primary-btn-color);
}

.stepper__item.current .stepper__icon {
  position: relative;
  width: 64px;
  height: 64px;
  bottom: 15px;
  background-color: var(--primary-btn-color);
}

.stepper__item.initial::after {
  position: absolute;
  content: '';
  border-bottom: 4px solid #f00565;
  width: 145%;
  top: 15px;
  left: 5%;
  z-index: 3;
}

.stepper__item.current {
  align-items: center;
  margin-right: 50px;
}

.stepper__item.current::after {
  position: absolute;
  content: '';
  border-bottom: 4px solid #000000;
  width: 155%;
  top: 15px;
  left: 55%;
  z-index: 3;
}

.stepper__item.target {
  align-items: flex-end;
  margin-right: 30px;
}

.school-sets__description .stepper.list {
  justify-content: space-between;
  margin-bottom: 32px;
}

.school-sets__buttons .donate-button {
  margin-right: 32px;
}

/** SCHOOL-SETS SECTION 2 **/

.school-sets__second-wrapper {
  background-color: var(--third-bg-color);
}

.school-sets__second-wrapper .school-sets__content-box {
  flex-direction: row-reverse;
  padding-top: 48px;
  padding-bottom: 48px;
}

.school-sets__second-wrapper .target > .stepper__number {
  margin-right: 0;
}

.school-sets__second-wrapper .school-sets__image {
  margin-right: 32px;
}

.school-sets__third-wrapper .school-sets__content-box {
  padding-top: 48px;
  padding-bottom: 48px;
}

/** SCHOOL-SETS SECTION 4 **/

.school-sets__fourth-wrapper {
  background-color: var(--secondary-bg-color);
}

.school-sets__fourth-wrapper .school-sets__content-box {
  flex-direction: row-reverse;
  padding-top: 48px;
  padding-bottom: 48px;
}

.school-sets__fourth-wrapper .target > .stepper__number {
  margin-right: 0;
}

.school-sets__fourth-wrapper .school-sets__image {
  margin-right: 32px;
}

/** SCHOOL-SETS SECTION 5 **/

.school-sets__fifth-wrapper {
  background-color: var(--third-bg-color);
}

.school-sets__fifth-wrapper .school-sets__content-box {
  padding-top: 48px;
  padding-bottom: 48px;
}

.school-sets__fifth-wrapper .target > .stepper__number {
  margin-right: 0;
}

.school-sets__fifth-wrapper .school-sets__text--left {
  margin-right: 197px;
}

/** LOCATIONS SECTION **/

.locations__stats {
  text-align: center;
  margin-top: 40px;
}

.locations__stats-title {
  font-family: 'Raleway', 'Segoe UI', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.37;
  margin-bottom: 32px;
}

.locations__stats-title span {
  font-family: 'Raleway', 'Segoe UI', sans-serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 1;
}

.locations__stats .stepper {
  display: flex;
  justify-content: space-between;
}
.locations__stats .stepper.list {
  justify-content: space-between;
  margin-bottom: 32px;
}

.locations__stats .stepper__item.current {
  margin-left: 20px;
}

.locations__stats .stepper__item.target {
  margin: 0 auto;
}

.locations__stats .stepper__item.target .stepper__number {
  margin-right: 0;
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
  /* .header .container {
    align-items: center;
    justify-content: center;
    padding: 16px 0;
  }

  .header__logo {
    margin: 0 18px;
  }

  .navigation-left__list {
    display: flex;
    justify-content: end;
  }

  .navigation-left__list .navigation__list-item {
    margin-right: 32px;
  }

  .navigation-right__list {
    display: flex;
    justify-content: start;
  }

  .navigation-right__list .navigation__list-item {
    margin-left: 32px;
  }

  .navigation__list-item {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 1.17;
    font-weight: 600;
  } */
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 15px;
  }

  /** HEADER SECTION (DESK) **/

  .header .container {
    align-items: center;
    justify-content: center;
    padding: 16px 0;
  }

  .header__logo {
    margin: 0 18px;
  }

  .navigation-left__list {
    display: flex;
    justify-content: end;
  }

  .navigation-left__list .navigation__list-item {
    margin-right: 32px;
  }

  .navigation-right__list {
    display: flex;
    justify-content: start;
  }

  .navigation-right__list .navigation__list-item {
    margin-left: 32px;
  }

  .navigation__list-item {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 1.17;
    font-weight: 600;
  }

  /** HERO SECTION (DESK) **/

  .hero .container {
    max-width: 1342px;
  }

  .hero {
    background-image: url('../images/slide-1.jpg');
    background-position: top;
    height: 700px;
  }

  /** ABOUT SECTION (DESK) **/

  .about .container {
    max-width: 1118px;
  }

  /** SCHOOL-SETS SECTION (DESK) **/

  .school-sets__first-wrapper .container {
    max-width: 1342px;
  }

  .school-sets__second-wrapper .container {
    max-width: 1342px;
  }

  .school-sets__third-wrapper .container {
    max-width: 1342px;
  }

  .school-sets__fourth-wrapper .container {
    max-width: 1342px;
  }

  .school-sets__fifth-wrapper .container {
    max-width: 1342px;
  }

  /** LOCATIONS SECTION (DESK) **/

  .locations .container {
    max-width: 1118px;
  }

  .reception-points h2 {
    font-family: 'Raleway', 'Segoe UI', sans-serif;
    font-size: 42px;
    font-weight: 900;
    line-height: 1.14;
    color: var(--primary-text-color);
    text-transform: uppercase;
    margin-top: 92px;
    margin-bottom: 15px;
  }

  .reception-points__list {
    display: flex;
  }

  .reception-points__thumb img {
    border-radius: 10px 10px 0px 0px;
  }

  .reception-points__card {
    margin-bottom: 40px;
  }

  .reception-points__card:first-child {
    margin-right: 32px;
  }

  .reception-points__adress {
    background-color: var(--secondary-text-color);
    text-align: left;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  }

  .reception-points__adress p {
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.6;
  }

  .adress__list-icon--map {
    width: 27px;
    height: 28px;
    margin: 0 8px 0 0;
  }

  .adress__list-icon--time {
    width: 24px;
    height: 28px;
    margin: 0 8px 0 0;
  }

  .adress__list-icon--mobile {
    width: 15px;
    height: 28px;
    margin: 0 8px 0 0;
  }

  .adress__list.list {
    display: flex;
    flex-direction: column;
  }

  .adress__list-item:nth-child(2n) {
    margin: 10px 0;
  }

  .adress__list-item {
    justify-content: flex-start;
    display: inline-flex;
    align-items: center;
  }

  /* .icon-test {
    background-image: url(./images/sprite.svg#icon-map);
  } */
}

@font-face {
  font-family: 'RoadkillAlternates';
  src: url('../fonts/RoadkillAlternates.eot');
  src: url('../fonts/RoadkillAlternates.eot') format('embedded-opentype'),
    url('../fonts/RoadkillAlternates.woff2') format('woff2'),
    url('../fonts/RoadkillAlternates.woff') format('woff'),
    url('../fonts/RoadkillAlternates.ttf') format('truetype'),
    url('../fonts/RoadkillAlternates.svg#RoadkillAlternates') format('svg');
}
